@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Thunder_LC;
  src: url(fonts/Thunder-LC.otf);
}

#root {
  height: 100%;
}

.swap-colors-on-hover:hover {
  @apply bg-[var(--color)] text-[var(--backgroundColor)];
}
